header{
	width: 100%;
	height: 200px;
	background-color: #ffffff;
	
}

.contenedor1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px;
}

div .search{
	width: 
	background-color: violet;
}
img.faraday{
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;

}


div.contenedor-dos{
	display: flex;
	justify-content: space-between;
	justify-content: center;
	flex-direction: row;
	padding: 30px;
}

div.secundario{
	width: 100px;

}
.listas{
	display: inline-block;
	width: 295px;
}

.men{


}
.women{

}

section.foto-banner{
	width: 707px;
	display: inline-block;
	margin: auto;
	position: relative;
}

img.foto-morocha{
	width: 707px;
	height: 400px;
	
	
}

p.texto-otono{
	position: absolute;
	color: white;
}

section.fotos-abajo{
	width: 707px;
	height: 200px;
	margin: auto;
}
section.contenedor-izq{
	position: relative;
}


img.foto-hipster{
	width: 350px;
	height: 200px;
	position: relative;
}

div.contenedor-hipster{
	width: 350px;
	height: 200px;
	display: inline-block;
	position: relative;
}
p.texto-clasico{
	color: yellow;
	position: absolute;
	font-size: 28px;
	
}


img.foto-negro{
	width: 349px;
	height: 200px;
	
}
div.contenedor-negro{
	width: 349px;
	height: 200px;
	display: inline-block;
	position: relative;
}

p.texto.popular{
	position: absolute;
	color: white;
	
}